/* Chubbo */
@font-face {
  font-family: 'Chubbo';
  src: url('//cdn.fontshare.com/wf/6QFCPK4POVX7C5YUOWPEMZYSINZRB3QX/67EZ6JMMWBZNY5UVHM762OFNZFZNQOYH/SXM42C3P3F7WF4EN4MWPKHQ46R5YFZZB.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/6QFCPK4POVX7C5YUOWPEMZYSINZRB3QX/67EZ6JMMWBZNY5UVHM762OFNZFZNQOYH/SXM42C3P3F7WF4EN4MWPKHQ46R5YFZZB.woff') format('woff'),
       url('//cdn.fontshare.com/wf/6QFCPK4POVX7C5YUOWPEMZYSINZRB3QX/67EZ6JMMWBZNY5UVHM762OFNZFZNQOYH/SXM42C3P3F7WF4EN4MWPKHQ46R5YFZZB.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/* Supreme */
@font-face {
  font-family: 'Supreme';
  src: url('//cdn.fontshare.com/wf/UDGUA26XVGIV6IQWMQNGGAL7FQZFY227/E6HQU6YVWTGYX3KW3DF66KAAJ224ZDU6/5ZZU4JM62PS7KOJ7BOKLPL3AEO2G76TS.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/UDGUA26XVGIV6IQWMQNGGAL7FQZFY227/E6HQU6YVWTGYX3KW3DF66KAAJ224ZDU6/5ZZU4JM62PS7KOJ7BOKLPL3AEO2G76TS.woff') format('woff'),
       url('//cdn.fontshare.com/wf/UDGUA26XVGIV6IQWMQNGGAL7FQZFY227/E6HQU6YVWTGYX3KW3DF66KAAJ224ZDU6/5ZZU4JM62PS7KOJ7BOKLPL3AEO2G76TS.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Supreme';
  src: url('//cdn.fontshare.com/wf/OTYYUXNCZZI6EV6RSCAQFTGEGQ7JTD6B/45FLQUBI6DWIP6NYFVBTMKS6YPU3VYPT/GHZ524YD2KXKRX4PZ2S7DE3HKNPE2EKH.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/OTYYUXNCZZI6EV6RSCAQFTGEGQ7JTD6B/45FLQUBI6DWIP6NYFVBTMKS6YPU3VYPT/GHZ524YD2KXKRX4PZ2S7DE3HKNPE2EKH.woff') format('woff'),
       url('//cdn.fontshare.com/wf/OTYYUXNCZZI6EV6RSCAQFTGEGQ7JTD6B/45FLQUBI6DWIP6NYFVBTMKS6YPU3VYPT/GHZ524YD2KXKRX4PZ2S7DE3HKNPE2EKH.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Supreme';
  src: url('//cdn.fontshare.com/wf/5T6APCD6XXAHAFTHDATQKT4RFVWRY3KR/VM6PC4PLGZYYJIHGMT63IIGYLTQKGSH6/TN7F4YNDQ3FJ6JRJV2XDS3CGMFKQRLXV.woff2') format('woff2'),
       url('//cdn.fontshare.com/wf/5T6APCD6XXAHAFTHDATQKT4RFVWRY3KR/VM6PC4PLGZYYJIHGMT63IIGYLTQKGSH6/TN7F4YNDQ3FJ6JRJV2XDS3CGMFKQRLXV.woff') format('woff'),
       url('//cdn.fontshare.com/wf/5T6APCD6XXAHAFTHDATQKT4RFVWRY3KR/VM6PC4PLGZYYJIHGMT63IIGYLTQKGSH6/TN7F4YNDQ3FJ6JRJV2XDS3CGMFKQRLXV.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


