@font-face{font-family:'Chubbo';src:url("fonts/chubbo-700.woff2") format("woff2");font-weight:700;font-style:normal;font-display:block}
@font-face{font-family:'Supreme';src:url("fonts/supreme-400.woff2") format("woff2");font-weight:400;font-style:normal;font-display:block}
@font-face{font-family:'Supreme';src:url("fonts/supreme-500.woff2") format("woff2");font-weight:500;font-style:normal;font-display:block}
@font-face{font-family:'Supreme';src:url("fonts/supreme-700.woff2") format("woff2");font-weight:700;font-style:normal;font-display:block}
