PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/farzandly
CLIENT_URL=http://localhost:3000

# Telegram OpenID Connect (OIDC) Credentials
TELEGRAM_CLIENT_SECRET=O8WVosrTnxL4eEKz42Z14G3b3QoPph_IWSonUx7mwjJ_Nl5o2IWKbw
TELEGRAM_CLIENT_ID=8912917807
TELEGRAM_REDIRECT_URI=http://localhost:3000/kirish/callback
